{% extends "layout.html" %}

{% block title %}
TRACKit - NSW Teaching Jobs
{% endblock %}

{% block body %}

<div id="app">

    <aside id="sidebar">

        <div class="school-filter form-check form-check-inline">
            <input
                class="form-check-input"
                type="checkbox"
                id="showInfant"
                checked>

            <label
                class="form-check-label"
                for="showInfant">

                Infant Schools

            </label>
        </div>
        <div class="school-filter form-check form-check-inline">
            <input
                class="form-check-input"
                type="checkbox"
                id="showPrimary"
                checked>

            <label
                class="form-check-label"
                for="showPrimary">

                Primary Schools

            </label>
        </div>
        <div class="school-filter form-check form-check-inline">
            <input
                class="form-check-input"
                type="checkbox"
                id="showSecondary"
                checked>

            <label
                class="form-check-label"
                for="showSecondary">

                Secondary Schools

            </label>
        </div>
        <div class="school-filter form-check form-check-inline">
            <input
                class="form-check-input"
                type="checkbox"
                id="showCentral"
                checked>

            <label
                class="form-check-label"
                for="showCentral">

                Central Schools

            </label>
        </div>
        <div class="school-filter form-check form-check-inline">
            <input
                class="form-check-input"
                type="checkbox"
                id="showSpecific"
                checked>

            <label
                class="form-check-label"
                for="showSpecific">

                Schools for Specific Purposes

            </label>
        </div>
        <div class="school-filter form-check form-check-inline">
            <input
                class="form-check-input"
                type="checkbox"
                id="showEnvironmental"
                checked>

            <label
                class="form-check-label"
                for="showEnvironmental">

                Environmental Education Schools

            </label>
        </div>
        <div class="school-filter form-check form-check-inline">
            <input
                class="form-check-input"
                type="checkbox"
                id="showDistance"
                checked>

            <label
                class="form-check-label"
                for="showDistance">

                Distance Schools

            </label>
        </div>
        <div class="school-filter form-check form-check-inline">
            <input
                class="form-check-input"
                type="checkbox"
                id="showOther"
                checked>

            <label
                class="form-check-label"
                for="showOther">

                Other Schools

            </label>

        </div>

    </aside>

    <main id="map-container">
        <div id="map"></div>
    </main>

</div>




{% endblock %}