{% extends "layout.html" %}

{% block title %}
TRACKit - NSW Teaching Jobs
{% endblock %}

{% block body %}

<div id="toolbar" class="p-2 border-bottom">

    <div class="form-check form-check-inline">
        <input
            class="form-check-input"
            type="checkbox"
            id="showPrimary"
            checked>

        <label
            class="form-check-label"
            for="showPrimary">

            Primary Schools

        </label>
    </div>

</div>

<div id="map"></div>

{% endblock %}