{% extends "layout.html" %}

{% block title %}
TRACKit - NSW Teaching Jobs
{% endblock %}

{% block body %}

<div id="toolbar" class="p-2 border-bottom">

    <div class="school-filter form-check form-check-inline">
        <input
            class="form-check-input"
            type="checkbox"
            id="showInfant"
            checked>

        <label
            class="form-check-label"
            for="showInfant">

            Infant Schools

        </label>
    </div>
    <div class="school-filter form-check form-check-inline">
        <input
            class="form-check-input"
            type="checkbox"
            id="showPrimary"
            checked>

        <label
            class="form-check-label"
            for="showPrimary">

            Primary Schools

        </label>
    </div>
    <div class="school-filter form-check form-check-inline">
        <input
            class="form-check-input"
            type="checkbox"
            id="showSecondary"
            checked>

        <label
            class="form-check-label"
            for="showSecondary">

            Secondary Schools

        </label>
    </div>
    <div class="school-filter form-check form-check-inline">
        <input
            class="form-check-input"
            type="checkbox"
            id="showCentral"
            checked>

        <label
            class="form-check-label"
            for="showCentral">

            Central Schools

        </label>
    </div>
    <div class="school-filter form-check form-check-inline">
        <input
            class="form-check-input"
            type="checkbox"
            id="showSpecific"
            checked>

        <label
            class="form-check-label"
            for="showSpecific">

            Schools for Specific Purposes

        </label>
    </div>
    <div class="school-filter form-check form-check-inline">
        <input
            class="form-check-input"
            type="checkbox"
            id="showEnvironmental"
            checked>

        <label
            class="form-check-label"
            for="showEnvironmental">

            Environmental Education Schools

        </label>
    </div>
    <div class="school-filter form-check form-check-inline">
        <input
            class="form-check-input"
            type="checkbox"
            id="showOther"
            checked>

        <label
            class="form-check-label"
            for="showOther">

            Other Schools

        </label>
    </div>



</div>


<div id="map"></div>

{% endblock %}